#include <winver.h>

1 ICON "resources\\icon.ico"
1 24 "resources\\manifest.xml"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,6,0
PRODUCTVERSION  1,0,6,0
FILEFLAGSMASK   0x3fL
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName",      "GameOptimizer"
            VALUE "FileDescription",  "GameOptimizer - Windows Game Optimizer (Hardware-agnostic)"
            VALUE "FileVersion",      "1.0.6"
            VALUE "InternalName",     "gopt_cli"
            VALUE "OriginalFilename", "gopt_cli.exe"
            VALUE "ProductName",      "GameOptimizer"
            VALUE "ProductVersion",   "1.0.6"
            VALUE "LegalCopyright",   "MIT License"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200
    END
END
